@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      padding-top: 20px;
    }
    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
      @include mobile {
        width: 300px;
      }
    }
    p {
      font-weight: 200;
      font-size: 20px;
      text-align: right;
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      width: 100%;
    }
    .title {
      display: flex;
      gap: 20px;
      align-items: center;
      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;
        @include mobile {
          width: 200px;
          height: 70px;
        }
      }
      h1 {
        font-size: 70px;
        font-weight: 100;
        @include mobile {
          font-size: 30px;
        }
      }
      button {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        background-color: orange;
        border: none;
        cursor: pointer;
        font-size: 24px;
        @include mobile {
          font-size: 16px;
          height: 50px;
          width: 150px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 70%;
    margin: 30px auto;
    height: 100%;
    @include mobile {
      width: 100%;
      flex-direction: column;
      overflow-y: scroll;
    }
    .box {
      padding: 20px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      height: 300px;
      overflow-y: auto;
      @include mobile {
        margin: 20px auto;
        width: 90%;
        padding: 10px;
        display: flex;
        justify-content: center;
        min-height: 300px;
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        @include mobile {
          padding: 5px;
          width: 60%;
          margin: 5px auto;
        }
      }
    }
  }
}
